@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* App */
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  margin: 40px;
  color: white;
  z-index: 1;
  text-align: center;
}

/* media queries */
@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }

  .todos {
    width: 95%;
    margin-bottom: 10px;
  }

  .container {
    width: 95%;
    flex-direction: column;
  }
}

/* InputField */
.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input_box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px;
}

.input_box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.7);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50px;
  right: 0;
  border: none;
  font-size: 15px;
  background-color: #2f74c0;
  color: #fff;
  transition: 0.2s all;
  box-shadow: 0 0 10px #000;
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px #000;
}

.container {
  display: flex;
  width: 95%;
  margin-top: 10px;
  justify-content: space-between;
  align-items: flex-start;
}

/* TodoList */
.todos {
  display: flex;
  width: 49%;
  flex-direction: column;
  padding: 15px;
  border-radius: 5px;
  background-color: rgba(50, 195, 205);
}

.todos_heading {
  font-size: 30px;
  color: #fff;
}

.remove {
  background-color: rgb(255, 103, 80);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

/* SingleTodoList */
.todos_single {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  /* background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg"); */
  background-color: #ffd700;
  transition: 0.2s;
}

.todos_single:hover {
  box-shadow: 0 0 5px #000;
  transform: scale(1.03);
}

.todos_single--text {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todos_single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

.drag {
  box-shadow: 0 0 20px black;
}